dt {
  font-weight: bold;
}
dt::after {
  content: ': ';   
}

.properties dt:before {
  content: "";
  display: block;
}

.characters > dt {
  font-size: large;
  padding-top: 1em;
}

dl.properties {
  overflow: hidden;
}

.properties dt {
  float: left;
  width: 10%;
  clear: left;
}

.properties dd {
  float: left;
}

.catchphrases li {
    list-style: none;
    display: inline;
}

.catchphrases ul {
  display: inline;
  padding-left: 0;
}

.catchphrases li + li::before {
  content: ", ";
}
